.main-section { 
    background-color:#3B4E44;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #7C5E99;
}
.main-section .main-subtitle {
    margin-bottom: 60px;
}
.main-section.-black {
    background:  #000000;;
}
.main-section.-firstborder {
    border-bottom: 10px solid #3A4042;
}
.main-section.-secondborder{
    background-color:#677A73 ;
    border-bottom: 10px solid #000000;
}
