.main-subtitle {
    font-family: "press start 2p" , sans-serif;
    font-size: 30px;
    text-shadow: 5px 5px 0px #000;
    color: #ffffff;
}

.main-subtitle.-second {
    color: #FFF;
    text-align: center;
    text-shadow: none;
    font-size: 40px;
}
.main-subtitle.-third {
    color:#3A4042 ;
    text-align: center;
    text-shadow: none;
    font-size: 40px;
}
.main-subtitle.-forth{
    color: #fff; ;
    text-align: center;
    text-shadow: none;
    font-size: 40px;
}