.skills-tec {
    font-family: "press start 2p" , sans-serif;
    color: #fff;
    font-size: 25px;
    display: flex;
    align-items: center;

}
.skills-tec .icon {
    margin-right: 25px;
    width: 90px;
}
.skills-tec .right{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.skills-tec .subtitle {
    margin-bottom: 16px;
}