.subtitle {
    font-family: "press start 2p" , sans-serif;
    font-size: 30px;
    text-shadow: 5px 5px 0px #000;
    color: #ffffff;
}

.subtitle.-second {
    color: #FFF;
    text-align: center;
    text-shadow: none;
    font-size: 40px;

}
.ability {
    font-family: "press start 2p" , sans-serif;
    font-size: 25px;
    color: #ffffff;
    
    
}