h1 {
    font-family: "press start 2p" , sans-serif;
    font-size: 30px;
    text-shadow: 5px 5px 0px #000;
    color: #516154;
    width: 572px;
    height: 60px;
    margin: 50px 15px 0px 40px;
}
h2 {
    font-family: "press start 2p" , sans-serif;
    font-size: 30px;
    text-shadow: 5px 5px 0px #000;
    color: #ffffff;
    width: 540px;
    height: 30px;
    margin: 0px 44px 59px 43px;
}